- valgrind_freya
- glibc-%{glibc-version}/libio
- jerry-core/jmem
- jerry-core/parser/js/js-parser-mem.c
- jerry-core/ecma/base/ecma-alloc.c

iotjs     %{iotjs-dirname}/src
jerry     deps/jerry
libtuv    deps/libtuv
mbedtls   deps/mbedtls

[Total] 1
  (jerry)
  (iotjs)
  (libtuv)
  (mbedtls)
[other] 1 +
