[submodule "projects/web"]
	path = projects/web
	url = https://github.com/Samsung/iotjs-test-results.git
[submodule "projects/kconfig-frontends"]
	path = projects/kconfig-frontends
	url = https://github.com/jameswalmsley/kconfig-frontends.git
[submodule "projects/stlink"]
	path = projects/stlink
	url = https://github.com/texane/stlink.git
[submodule "projects/apps"]
	path = projects/apps
	url = https://bitbucket.org/nuttx/apps.git
[submodule "projects/nuttx"]
	path = projects/nuttx
	url = https://bitbucket.org/nuttx/nuttx.git
[submodule "projects/iotjs"]
	path = projects/iotjs
	url = https://github.com/Samsung/iotjs.git
