{
  "build-condition": "%{memstat} and '%{appname}' == 'iotjs'",
  "build-once": true,
  "rpi2": {
    "init": [
      {
        "cwd": "%{freya}",
        "cmd": "./autogen.sh"
      },
      {
        "cwd": "%{freya}",
        "cmd": "./configure",
        "args": [
          "--host=armv7-linux-gnueabihf"
        ],
        "env": {
          "LD": ["arm-linux-gnueabihf-ld"],
          "AR": ["arm-linux-gnueabihf-ar"],
          "CC": ["arm-linux-gnueabihf-gcc"],
          "CPP": ["arm-linux-gnueabihf-cpp"],
          "CXX": ["arm-linux-gnueabihf-g++"]
        }
      },
      {
        "cwd": "%{freya}",
        "cmd": "make",
        "args": ["clean"]
      }
    ],
    "build": {
      "cwd": "%{freya}",
      "cmd": "make",
      "args": [
        "TOOLS=freya"
      ]
    },
    "artifacts": [
      {
        "src": "%{freya}/vg-in-place",
        "dst": "%{build-dir}/valgrind_freya/vg-in-place"
      },
      {
        "src": "%{freya}/coregrind/valgrind",
        "dst": "%{build-dir}/valgrind_freya/coregrind/valgrind"
      },
      {
        "src": "%{freya}/.in_place/freya-arm-linux",
        "dst": "%{build-dir}/valgrind_freya/.in_place/freya-arm-linux"
      },
      {
        "src": "%{freya}/.in_place/vgpreload_core-arm-linux.so",
        "dst": "%{build-dir}/valgrind_freya/.in_place/vgpreload_core-arm-linux.so"
      },
      {
        "src": "%{freya}/.in_place/vgpreload_freya-arm-linux.so",
        "dst": "%{build-dir}/valgrind_freya/.in_place/vgpreload_freya-arm-linux.so"
      },
      {
        "src": "%{js-remote-test}/jstest/resources/etc/iotjs-freya.config",
        "dst": "%{build-dir}/iotjs-freya.config"
      }
    ]
  },
  "rpi3": {
    "init": [
      {
        "cwd": "%{freya}",
        "cmd": "./autogen.sh"
      },
      {
        "cwd": "%{freya}",
        "cmd": "./configure",
        "args": [
          "--host=armv7-linux-gnueabi"
        ],
        "env": {
          "LD": ["arm-linux-gnueabi-ld"],
          "AR": ["arm-linux-gnueabi-ar"],
          "CC": ["arm-linux-gnueabi-gcc"],
          "CPP": ["arm-linux-gnueabi-cpp"],
          "CXX": ["arm-linux-gnueabi-g++"]
        }
      },
      {
        "cwd": "%{freya}",
        "cmd": "make",
        "args": ["clean"]
      }
    ],
    "build": {
      "cwd": "%{freya}",
      "cmd": "make",
      "args": [
        "TOOLS=freya"
      ]
    },
    "artifacts": [
      {
        "src": "%{freya}/vg-in-place",
        "dst": "%{build-dir}/valgrind_freya/vg-in-place"
      },
      {
        "src": "%{freya}/coregrind/valgrind",
        "dst": "%{build-dir}/valgrind_freya/coregrind/valgrind"
      },
      {
        "src": "%{freya}/.in_place/freya-arm-linux",
        "dst": "%{build-dir}/valgrind_freya/.in_place/freya-arm-linux"
      },
      {
        "src": "%{freya}/.in_place/vgpreload_core-arm-linux.so",
        "dst": "%{build-dir}/valgrind_freya/.in_place/vgpreload_core-arm-linux.so"
      },
      {
        "src": "%{freya}/.in_place/vgpreload_freya-arm-linux.so",
        "dst": "%{build-dir}/valgrind_freya/.in_place/vgpreload_freya-arm-linux.so"
      },
      {
        "src": "%{js-remote-test}/jstest/resources/etc/iotjs-freya.config",
        "dst": "%{build-dir}/iotjs-freya.config"
      }
    ]
  }
}
