{
  "stm32f4dis": {
    "init": [
      {
        "cmd": "function(genromfs)",
        "args": ["%{testsuite}", "%{nuttx-apps}/nshlib/nsh_romfsimg.h"]
      },
      {
        "cmd": "function(push_environment)",
        "env": {
          "IOTJS_ROOT_DIR": ["%{iotjs}"]
        }
      }
    ],
    "build": {
      "cwd": "%{iotjs}",
      "cmd": "tools/build.py",
      "args": [
        "--clean",
        "--no-parallel-build",
        "--no-init-submodule",
        "--target-arch=arm",
        "--target-os=nuttx",
        "--target-board=stm32f4dis",
        "--jerry-heaplimit=64",
        "--buildtype=%{build-type}",
        "--nuttx-home=%{nuttx}",
        "--profile=test/profiles/nuttx.profile"
      ],
      "conditional-options": [
        {
          "condition": "%{memstat}",
          "args": ["--jerry-memstat"]
        },
        {
          "condition": "%{debugger}",
          "args": [
            "--jerry-debugger",
            "--jerry-cmake-param=-DJERRY_PORT_DEFAULT=ON",
            "--no-snapshot"
          ]
        },
        {
          "condition": "%{minimal-profile-build}",
          "args": ["--profile=profiles/minimal.profile"]
        },
        {
          "condition": "%{es5.1-profile-build}",
          "args": ["--jerry-profile=es5.1"]
        },
        {
          "condition": "%{es2015subset-profile-build} or %{test-build}",
          "args": ["--jerry-profile=es2015-subset"]
        },
        {
          "condition": "%{test-build}",
          "args": [
            "--external-modules=test/external_modules/mymodule1,test/external_modules/mymodule2",
            "--cmake-param=-DENABLE_MODULE_MYMODULE1=ON",
            "--cmake-param=-DENABLE_MODULE_MYMODULE2=ON"
          ]
        },
        {
          "condition": "%{test-build} and %{memstat}",
          "args": [
            "--compile-flag=-DJSTEST_MEMSTAT_ENABLED"
          ]
        }
      ]
    },
    "artifacts": [
      {
        "src": "%{iotjs}/build/%{target}/%{build-type}/lib",
        "dst": "%{build-dir}/libs"
      },
      {
        "src": "%{testsuite}",
        "dst": "%{build-dir}/tests"
      }
    ]
  },
  "artik053": {
    "build": {
      "cmd": "function(push_environment)",
      "env": {
        "EXTRA_LIBPATHS": ["-L%{iotjs}/build/%{target}/%{build-type}/lib"],
        "EXTRA_LIBS": ["-ljerry-ext"],
        "IOTJS_ROOT_DIR": ["%{iotjs}"],
        "IOTJS_BUILD_OPTION": [
          "--clean",
          "--no-parallel-build",
          "--no-init-submodule",
          "--target-arch=arm",
          "--target-os=tizenrt",
          "--target-board=artik05x",
          "--buildtype=%{build-type}",
          "--profile=test/profiles/tizenrt.profile"
        ]
      },
      "conditional-options": [
        {
          "condition": "%{coverage}",
          "env": {
            "IOTJS_BUILD_OPTION": [
              "--buildtype=debug",
              "--jerry-debugger",
              "--no-snapshot"
            ]
          }
        },
        {
          "condition": "%{debugger}",
          "env": {
           "IOTJS_BUILD_OPTION": [
              "--jerry-debugger",
              "--no-snapshot"
            ]
          }
        },
        {
          "condition": "%{coverage} and %{test-build}",
          "env": {
            "IOTJS_BUILD_OPTION": [
              "--jerry-cmake-param=-DJERRY_PORT_DEFAULT=ON"
            ]
          }
        },
        {
          "condition": "%{test-build}",
          "env": {
            "IOTJS_BUILD_OPTION": [
              "--external-modules=test/external_modules/mymodule1,test/external_modules/mymodule2",
              "--cmake-param=-DENABLE_MODULE_MYMODULE1=ON",
              "--cmake-param=-DENABLE_MODULE_MYMODULE2=ON"
            ]
          }
        },
        {
          "condition": "%{test-build} and %{memstat}",
          "env": {
            "IOTJS_BUILD_OPTION": [
              "--compile-flag=-DJSTEST_MEMSTAT_ENABLED"
            ]
          }
        },
        {
          "condition": "%{memstat}",
          "env": { "IOTJS_BUILD_OPTION": ["--jerry-memstat"] }
        },
        {
          "condition": "%{minimal-profile-build}",
          "env": { "IOTJS_BUILD_OPTION": ["--profile=profiles/minimal.profile"] }
        },
        {
          "condition": "%{es5.1-profile-build}",
          "env": {
            "IOTJS_BUILD_OPTION": ["--jerry-profile=es5.1"]
          }
        },
        {
          "condition": "%{es2015subset-profile-build} or %{test-build}",
          "env": {
            "IOTJS_BUILD_OPTION": ["--jerry-profile=es2015-subset"]
          }
        }
      ]
    },
    "artifacts": [
      {
        "src": "%{iotjs}/build/%{target}/%{build-type}/lib",
        "dst": "%{build-dir}/libs"
      },
      {
        "src": "%{testsuite}",
        "dst": "%{build-dir}/tests"
      }
    ]
  },
  "rpi3": {
    "build": {
      "cwd": "%{iotjs}",
      "cmd": "config/tizen/gbsbuild.sh",
      "args": ["--clean"],
      "env": {
        "TIZEN_BUILD_ROOT": [
          "%{tizen-build-root}"
        ],
        "IOTJS_BUILD_OPTION": [
          "--clean",
          "--no-parallel-build",
          "--no-init-submodule",
          "--target-arch=noarch",
          "--target-os=tizen",
          "--target-board=rpi3",
          "--buildtype=%{build-type}",
          "--profile=test/profiles/tizen.profile"
        ]
      },
      "conditional-options": [
        {
          "condition": "'%{build-type}' == 'debug'",
          "args": ["--debug"]
        },
        {
          "condition": "%{coverage}",
          "env": {
            "IOTJS_BUILD_OPTION": [
              "--buildtype=debug",
              "--jerry-debugger",
              "--no-snapshot"
            ]
          }
        },
        {
          "condition": "%{debugger}",
          "env": {
            "IOTJS_BUILD_OPTION": [
              "--jerry-debugger",
              "--no-snapshot"
            ]
          }
        },
        {
          "condition": "%{coverage} or %{memstat}",
          "env": { "IOTJS_BUILD_OPTION": ["--compile-flag=-g", "--jerry-compile-flag=-g"] }
        },
        {
          "condition": "%{memstat}",
          "env": { "IOTJS_BUILD_OPTION": ["--jerry-memstat"] }
        },
        {
          "condition": "%{minimal-profile-build}",
          "env": { "IOTJS_BUILD_OPTION": ["--profile=profiles/minimal.profile"] }
        },
        {
          "condition": "%{es5.1-profile-build}",
          "env": {
            "IOTJS_BUILD_OPTION": ["--jerry-profile=es5.1"]
          }
        },
        {
          "condition": "%{es2015subset-profile-build} or %{test-build}",
          "env": {
            "IOTJS_BUILD_OPTION": ["--jerry-profile=es2015-subset"]
          }
        },
        {
          "condition": "%{test-build}",
          "env": {
            "IOTJS_BUILD_OPTION": [
              "--external-modules=test/external_modules/mymodule1,test/external_modules/mymodule2",
              "--cmake-param=-DENABLE_MODULE_MYMODULE1=ON",
              "--cmake-param=-DENABLE_MODULE_MYMODULE2=ON"
            ]
          }
        }
      ]
    },
    "artifacts": [
      {
        "src": "%{tizen-iotjs-dir}/build/%{target}/%{build-type}/lib",
        "dst": "%{build-dir}/libs"
      },
      {
        "src": "%{tizen-iotjs-dir}/build/%{target}/%{build-type}/bin/iotjs",
        "dst": "%{build-dir}/iotjs"
      },
      {
        "src": "%{tizen-iotjs-dir}/build/%{target}/%{build-type}/iotjs.map",
        "dst": "%{build-dir}/linker.map"
      },
      {
        "src": "%{testsuite}",
        "dst": "%{build-dir}/tests"
      },
      {
        "src": "%{tizen-iotjs-dir}/test/dynamicmodule/build/tizen/dynamicmodule.iotjs",
        "dst": "%{build-dir}/tests/dynamicmodule/build/tizen/dynamicmodule.iotjs"
      },
      {
        "src": "%{tizen-rpm-package}",
        "dst": "%{build-dir}/iotjs-1.0.0-0.armv7l.rpm"
      },
      {
        "src": "%{js-remote-test}/jstest/resources/etc/tester.py",
        "dst": "%{build-dir}/tester.py"
      }
    ]
  },
  "rpi2": {
    "build": {
      "cwd": "%{iotjs}",
      "cmd": "tools/build.py",
      "args": [
        "--clean",
        "--no-parallel-build",
        "--no-init-submodule",
        "--target-arch=arm",
        "--target-os=linux",
        "--target-board=rpi2",
        "--buildtype=%{build-type}",
        "--profile=test/profiles/rpi2-linux.profile"
      ],
      "conditional-options": [
        {
          "condition": "%{coverage}",
          "args": [
            "--buildtype=debug",
            "--jerry-debugger",
            "--no-snapshot"
          ]
        },
        {
          "condition": "%{debugger}",
          "args": [
            "--jerry-debugger",
            "--no-snapshot"
          ]
        },
        {
          "condition": "%{coverage} or %{memstat}",
          "args": ["--compile-flag=-g", "--jerry-compile-flag=-g"]
        },
        {
          "condition": "%{memstat}",
          "args": ["--jerry-memstat"]
        },
        {
          "condition": "%{minimal-profile-build}",
          "args": ["--profile=profiles/minimal.profile"]
        },
        {
          "condition": "%{es5.1-profile-build}",
          "args": ["--jerry-profile=es5.1"]
        },
        {
          "condition": "%{es2015subset-profile-build} or %{test-build}",
          "args": ["--jerry-profile=es2015-subset"]
        },
        {
          "condition": "%{test-build}",
          "args": [
            "--external-modules=test/external_modules/mymodule1,test/external_modules/mymodule2",
            "--cmake-param=-DENABLE_MODULE_MYMODULE1=ON",
            "--cmake-param=-DENABLE_MODULE_MYMODULE2=ON"
          ]
        }
      ]
    },
    "artifacts": [
      {
        "src": "%{iotjs}/build/%{target}/%{build-type}/lib",
        "dst": "%{build-dir}/libs"
      },
      {
        "src": "%{iotjs}/build/%{target}/%{build-type}/bin/iotjs",
        "dst": "%{build-dir}/iotjs"
      },
      {
        "src": "%{iotjs}/build/%{target}/%{build-type}/iotjs.map",
        "dst": "%{build-dir}/linker.map"
      },
      {
        "src": "%{testsuite}",
        "dst": "%{build-dir}/tests"
      },
      {
        "src": "%{js-remote-test}/jstest/resources/etc/tester.py",
        "dst": "%{build-dir}/tester.py"
      }
    ]
  }
}
