{
  "stm32f4dis": {
    "init": [
      {
        "cmd": "function(genromfs)",
        "args": ["%{testsuite}/", "%{nuttx-apps}/nshlib/nsh_romfsimg.h"]
      },
      {
        "cmd": "function(push_environment)",
        "env": {
          "JERRYSCRIPT_ROOT_DIR": ["%{jerryscript}"]
        }
      }
    ],
    "build": {
      "cwd": "%{jerryscript}",
      "cmd": "tools/build.py",
      "args": [
        "--clean",
        "--lto=OFF",
        "--jerry-cmdline=OFF",
        "--jerry-libm=ON",
        "--all-in-one=OFF",
        "--mem-heap=70",
        "--profile=%{jerryscript}/jerry-core/profiles/minimal.profile",
        "--toolchain=%{jerryscript}/cmake/toolchain_mcu_stm32f4.cmake",
        "--compile-flag=-I%{jerryscript}/targets/nuttx-stm32f4",
        "--compile-flag=-isystem %{nuttx}/include"
      ],
      "conditional-options": [
        {
          "condition": "%{memstat}",
          "args": ["--mem-stats=ON"]
        },
        {
          "condition": "%{es5.1-profile-build}",
          "args": ["--profile=%{jerryscript}/jerry-core/profiles/es5.1.profile"]
        },
        {
          "condition": "%{es2015subset-profile-build} or %{test-build}",
          "args": ["--profile=%{jerryscript}/jerry-core/profiles/es2015-subset.profile"]
        },
        {
          "condition": "%{debugger}",
          "args": [
            "--jerry-debugger=ON"
          ]
        }
      ]
    },
    "artifacts": [
      {
        "src": "%{jerryscript}/build/lib",
        "dst": "%{build-dir}/libs"
      },
      {
        "src": "%{testsuite}",
        "dst": "%{build-dir}/tests"
      }
    ]
  },
  "artik053": {
    "init": [
      {
        "cmd": "function(push_environment)",
        "env": {
          "JERRYSCRIPT_ROOT_DIR": ["%{jerryscript}"]
        }
      }
    ],
    "build": {
      "cwd": "%{jerryscript}",
      "cmd": "tools/build.py",
      "args": [
        "--clean",
        "--lto=OFF",
        "--jerry-cmdline=OFF",
        "--jerry-libm=ON",
        "--all-in-one=OFF",
        "--mem-heap=70",
        "--profile=%{jerryscript}/jerry-core/profiles/minimal.profile",
        "--toolchain=%{jerryscript}/cmake/toolchain_mcu_artik053.cmake",
        "--compile-flag='-isystem %{tizenrt}/os/include'"
      ],
      "conditional-options": [
        {
          "condition": "'%{build-type}' == 'debug'",
          "args": ["--debug"]
        },
        {
          "condition": "%{debugger}",
          "args": [
            "--jerry-debugger=ON"
          ]
        },
        {
          "condition": "%{memstat}",
          "args": ["--mem-stats=ON"]
        },
        {
          "condition": "%{es5.1-profile-build}",
          "args": ["--profile=%{jerryscript}/jerry-core/profiles/es5.1.profile"]
        },
        {
          "condition": "%{es2015subset-profile-build} or %{test-build}",
          "args": ["--profile=%{jerryscript}/jerry-core/profiles/es2015-subset.profile"]
        }
      ]
    },
    "artifacts": [
      {
        "src": "%{jerryscript}/build/lib",
        "dst": "%{build-dir}/libs"
      },
      {
        "src": "%{testsuite}",
        "dst": "%{build-dir}/tests"
      }
    ]
  },
  "artik530": {
    "build": {
      "cwd": "%{jerryscript}",
      "cmd": "function(print)",
      "args": [
        "JerryScript is not supported for Tizen."
      ]
    }
  },
  "rpi2": {
    "build": {
      "cwd": "%{jerryscript}",
      "cmd": "tools/build.py",
      "args": [
        "--clean",
        "--lto=OFF",
        "--jerry-libm=ON",
        "--all-in-one=OFF",
        "--linker-flag=-Wl,-Map=jerry.map",
        "--toolchain=%{jerryscript}/cmake/toolchain_linux_armv7l.cmake",
        "--profile=%{jerryscript}/jerry-core/profiles/minimal.profile"
      ],
      "conditional-options": [
        {
          "condition": "'%{build-type}' == 'debug'",
          "args": ["--debug"]
        },
        {
          "condition": "%{memstat}",
          "args": ["--mem-stats=ON", "--debug"]
        },
        {
          "condition": "%{debugger}",
          "args": [
            "--jerry-debugger=ON"
          ]
        },
        {
          "condition": "%{es5.1-profile-build}",
          "args": ["--profile=%{jerryscript}/jerry-core/profiles/es5.1.profile"]
        },
        {
          "condition": "%{es2015subset-profile-build} or %{test-build}",
          "args": ["--profile=%{jerryscript}/jerry-core/profiles/es2015-subset.profile"]
        }
      ]
    },
    "artifacts": [
      {
        "src": "%{jerryscript}/build/lib",
        "dst": "%{build-dir}/libs"
      },
      {
        "src": "%{jerryscript}/build/bin/jerry",
        "dst": "%{build-dir}/jerry"
      },
      {
        "src": "%{jerryscript}/build/jerry-main/jerry.map",
        "dst": "%{build-dir}/linker.map"
      },
      {
        "src": "%{testsuite}",
        "dst": "%{build-dir}/tests"
      },
      {
        "src": "%{js-remote-test}/jstest/resources/etc/tester.py",
        "dst": "%{build-dir}/tester.py"
      }
    ]
  }
}
