{
  "stm32f4dis": {
    "init": [
      {
        "cwd": "%{nuttx}/configs/stm32f4discovery/usbnsh/",
        "cmd": "function(config_internet)",
        "args": ["%{ip-addr}", "%{netmask}", "%{gateway}"]
      },
      {
        "cwd": "%{nuttx}",
        "cmd": "make",
        "args": ["distclean"]
      },
      {
        "cwd": "%{nuttx}",
        "cmd": "tools/configure.sh",
        "args": ["stm32f4discovery/usbnsh"]
      },
      {
        "cwd": "%{nuttx}",
        "cmd": "make",
        "args": ["clean", "context"]
      }
    ],
    "build": {
      "cwd": "%{nuttx}",
      "cmd": "make",
      "args": ["-j1"],
      "env": {
        "EXTRA_LIBS": ["-Map=nuttx.map"]
      },
      "conditional-options": [
        {
          "condition": "'%{build-type}' == 'release'",
          "env": { "R": ["1"] }
        }
      ]
    },
    "artifacts": [
      {
        "src": "%{nuttx}/nuttx.bin",
        "dst": "%{build-dir}/nuttx.bin"
      },
      {
        "src": "%{nuttx}/arch/arm/src/nuttx.map",
        "dst": "%{build-dir}/linker.map"
      }
    ]
  }
}
