{
  "artik053": {
    "init": [
      {
        "cwd": "%{tizenrt}/os",
        "cmd": "make",
        "args": ["distclean"]
      },
      {
        "cwd": "%{tizenrt}/os/tools",
        "cmd": "./configure.sh",
        "args": ["artik053/%{appname}"]
      },
      {
        "cwd": "%{tizenrt}/os",
        "cmd": "make",
        "args": ["clean", "context"]
      }
    ],
    "build": {
      "cwd": "%{tizenrt}/os",
      "cmd": "make",
      "args": ["-j1"]
    },
    "artifacts": [
      {
        "src": "%{tizenrt}/build/output/bin/tinyara.bin",
        "dst": "%{build-dir}/tinyara.bin"
      },
      {
        "src": "%{tizenrt}/build/output/bin/tinyara.map",
        "dst": "%{build-dir}/linker.map"
      },
      {
        "src": "%{tizenrt}/external/libmbedtls.a",
        "dst": "%{build-dir}/libs/libmbedtls.a"
      }
    ]
  }
}
