{
  "stm32f4dis": {
    "flash": {
      "cwd": "%{stlink}",
      "cmd": "build/Release/st-flash",
      "args": ["write", "%{build-dir}/nuttx.bin", "0x8000000"]
    }
  },
  "artik053": {
    "flash": {
      "cwd": "%{tizenrt}/os",
      "cmd": "make",
      "args": ["download", "ALL"]
    }
  },
  "artik530": {
    "init": [
      {
        "condition": "('%{appname}' == 'iotjs') and %{memstat}",
        "cmd": "function(init_freya_config)",
        "args": ["%{gbs-iotjs}", "%{build-dir}"]
      },
      {
        "cmd": "function(mount_fs_writable)",
        "args": ["%{user}@%{ip-addr}", "%{port}"]
      }
    ],
    "flash": {
      "cmd": "rsync",
      "args": [
        "--rsh", "ssh -p %{port}",
        "--recursive",
        "--compress",
        "--delete",
        "%{build-dir}/",
        "%{user}@%{ip-addr}:%{remote-workdir}"
      ]
    }
  },
  "rpi2": {
    "init": [
      {
        "condition": "('%{appname}' == 'iotjs') and %{memstat}",
        "cmd": "function(init_freya_config)",
        "args": ["%{iotjs}", "%{build-dir}"]
      }
    ],
    "flash": {
      "cmd": "rsync",
      "args": [
        "--rsh", "ssh -p %{port}",
        "--recursive",
        "--compress",
        "--delete",
        "%{build-dir}/",
        "%{user}@%{ip-addr}:%{remote-workdir}"
      ]
    }
  }
}
